html {
    scroll-behavior: smooth;
}


body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    background: linear-gradient(270deg, #ea7dca, #6dd898, #c3f474, #8094ed);
    background-size: 400% 400%;
    animation: gradientFlow 8s ease infinite;
}

@keyframes gradientFlow {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
}
}





.logo {
    height: 80px;
}


.header {
    background-image : url(front.jpg);
    background-size: cover;
    background-position: center;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color:#b42e49;
    text-shadow: 2px 2px 4px  white;
    font-size: 3rem;
    text-align: center;
    padding: 0 20px;
    border-radius: 40px
}


.paragraph p{
    margin:20px 0;
    text-align: center;
    padding: 60px 20px;

}
section {
    padding: 60px 20px;
    margin-top: 60px;
    min-height: 100vh;
}


h2 {
    margin-top: 0;
}


.sign_up {
    padding: 80px 60px;
    text-align: center;
    color: white;
    background-color: rgba(69,69,124,255);
}


.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}


.signup-button {
    background-color: #fff;
    color: #000;
    border: none;
    border-radius: 25px; /* Rounded edges */
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}


.signup-button:hover {
    background-color: #f0f0f0
} 

